@{
    ViewData["Title"] = "INDb: The Most Official Internet Nicolas Cage Database";
}

<h2>INDb: The Most Official Internet Nicolas Cage Database</h2>
<p>You've arrived at the most comprehensive and utterly useless archive of Nicolas Cage! Why? I have no idea!</p>

